<!DOCTYPE html>
<html lang="en" ng-app="driverApp">
<head>
    <meta charset="UTF-8">
    <title>XXX</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular-resource.min.js"></script>


</head>
<body>
<div class="container" style="min-width: 1110px; margin: 32px auto;" ng-controller="VideosController as driver">


    <div class="row">
        <div class="col-sm-3" style="text-align: center;">
            <div id="videos" class="list-group">
                <li ng-repeat="video in videos"
                    class="list-group-item list-group-item-action {{video.name === currentVideo.name ? 'active' : ''}}"
                    style="cursor: pointer;"
                    ng-click="onVideoClick(video)">{{video.name}}
                </li>
            </div>
        </div>
        <div class="col-sm-6" style="text-align: center;">
            <div class="row">
                <video id="player" width="555" height="312" style="margin: auto;" controls>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-sm-3" style="text-align: center;">
            <div class="row">
                <div class="col-sm">
                    <button type="button" class="btn btn-primary" ng-click="onSave()" ng-disabled="currentDuration < 0">
                        Save
                    </button>
                    <input ng-model="currentDuration">

                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off" ng-model="isEditMode"> {{isEditMode? "🗹":"☐"}}
                            Edit Mode
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm" style="text-align: center; padding: 16px;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn" ng-class="{'btn-dark':currentStatus !== '8'}">
                    <input type="radio" name="status" ng-model="currentStatus" value="8"
                           autocomplete="off">
                    Turn To <i class="far fa-arrow-alt-circle-left"></i>
                </label>
                <label class="btn" ng-class="{'btn-dark':currentStatus !== '6'}">
                    <input type="radio" name="status" ng-model="currentStatus" value="6"
                           autocomplete="off">
                    Merge To <i class="far fa-arrow-alt-circle-left"></i>
                </label>
                <label class="btn" ng-class="{'btn-dark':currentStatus !== '4'}">
                    <input type="radio" name="status" ng-model="currentStatus" value="4"
                           autocomplete="off">
                    Fork To <i class="far fa-arrow-alt-circle-left"></i>
                </label>
                <label class="btn" ng-class="{'btn-dark':currentStatus !== '2'}">
                    <input type="radio" name="status" ng-model="currentStatus" value="2"
                           autocomplete="off">
                    Lane To <i class="far fa-arrow-alt-circle-left"></i>
                </label>
                <label class="btn" ng-class="{'btn-dark':currentStatus !== '1'}">
                    <input type="radio" name="status" ng-model="currentStatus" value="1"
                           autocomplete="off">
                    <i class="far fa-arrow-alt-circle-up"></i>
                    <i class="far fa-arrow-alt-circle-up"></i>
                    <i class="far fa-arrow-alt-circle-up"></i>
                </label>
                <label class="btn" ng-class="{'btn-dark':currentStatus !== '0'}">
                    <input type="radio" name="status" ng-model="currentStatus" value="0"
                           autocomplete="off">
                    <i class="far fa-question-circle"></i>
                    <i class="far fa-question-circle"></i>
                    <i class="far fa-question-circle"></i>
                </label>
                <label class="btn" ng-class="{'btn-dark':currentStatus !== '3'}">
                    <input type="radio" name="status" ng-model="currentStatus" value="3"
                           autocomplete="off">
                    <i class="far fa-arrow-alt-circle-right"></i> Lane To
                </label>
                <label class="btn" ng-class="{'btn-dark':currentStatus !== '5'}">
                    <input type="radio" name="status" ng-model="currentStatus" value="5"
                           autocomplete="off">
                    <i class="far fa-arrow-alt-circle-right"></i> Fork To
                </label>
                <label class="btn" ng-class="{'btn-dark':currentStatus !== '7'}">
                    <input type="radio" name="status" ng-model="currentStatus" value="7"
                           autocomplete="off">
                    <i class="far fa-arrow-alt-circle-right"></i> Merge To
                </label>
                <label class="btn" ng-class="{'btn-dark':currentStatus !== '9'}">
                    <input type="radio" name="status" ng-model="currentStatus" value="9"
                           autocomplete="off">
                    <i class="far fa-arrow-alt-circle-right"></i> Turn To
                </label>
            </div>
        </div>


    </div>
</div>
<script src="script.js"></script>

</body>
</html>